---
layout: default
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.cover %}background: url({{ page.cover | relative_url }}) no-repeat center center; background-size: cover;{% endif %}"
>
<!--     <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3> -->
    {% if page.cover_author %}
        <p class="meta-item">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-image"></use>
            </svg>
            {% if page.cover_author_link %}
                {{ locales.cover }} <a href="{{ page.cover_author_link }}" target="_blank">{{ page.cover_author }}</a>
            {% else %}
                {{ locales.cover }} {{ page.cover_author }}
            {% endif %}
        </p>
    {% endif %}
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% include paginate.html %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}
    </div>

    {% include sidebar.html %}

</main>

{% include footer.html %}
